@media(max-width:900px) {
    .hide-kote-chai {
        visibility: hidden;

    }
}


@media(min-width:900px) {
    #view-all {
        visibility: hidden;

    }
}

@media(max-width:900px) {
    #view-mobile {
        visibility: hidden;

    }
}